<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortcourse Booking Completed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f6f6;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #eeeeee;
        }

        .header img {
            max-width: 100px;
        }

        .content {
            padding: 20px;
        }

        .content p {
            line-height: 1.6;
        }

        .content a {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            text-align: center;
            padding: 20px;
            border-top: 1px solid #eeeeee;
            font-size: 12px;
            color: #888888;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="your-logo-url-here" alt="Company Logo">
        </div>
        <div class="content">
            <p>Dear {{ name }},</p>
            <p>We’re pleased to confirm your booking for <b>{{shortcourseBooking.shortCourse.name}}</b> on
                <b>{{shortcourseBooking.shortCourse.bookingDatetime}}</b>.
            </p>
            <p>If you have any questions or need assistance, feel free to reach out.</p>

            <p><small>Thank you,</small><br>
                {{APP_NAME}}<br>
                {{APP_DESCRIPTION}}<br>
            </p>
        </div>
    </div>
</body>

</html>